.ds .details {
  width: 75%;
  padding: 0 15px;
  display: inline-block;
}
.ds .actions {
  width: 25%;
  display: inline-block;
}
html,
body {
  height: 100%;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}
.bg {
  height: 100%;
}
.m-t-15 {
  margin-top: 15px;
}